-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: filmeseite_cohen
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `passwort` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auszeichnungen`
--

DROP TABLE IF EXISTS `auszeichnungen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auszeichnungen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `preis` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auszeichnungen`
--

LOCK TABLES `auszeichnungen` WRITE;
/*!40000 ALTER TABLE `auszeichnungen` DISABLE KEYS */;
/*!40000 ALTER TABLE `auszeichnungen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `autoren`
--

DROP TABLE IF EXISTS `autoren`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `autoren` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `vorname` varchar(255) NOT NULL,
  `nachname` varchar(255) NOT NULL,
  `geburtsdatum` date DEFAULT NULL,
  `geburtsort` varchar(255) DEFAULT NULL,
  `biografie` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `autoren`
--

LOCK TABLES `autoren` WRITE;
/*!40000 ALTER TABLE `autoren` DISABLE KEYS */;
/*!40000 ALTER TABLE `autoren` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bewertungen`
--

DROP TABLE IF EXISTS `bewertungen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bewertungen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `quelle` varchar(255) NOT NULL,
  `bewertung` decimal(2,1) NOT NULL,
  `kommentar` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bewertungen`
--

LOCK TABLES `bewertungen` WRITE;
/*!40000 ALTER TABLE `bewertungen` DISABLE KEYS */;
/*!40000 ALTER TABLE `bewertungen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `director`
--

DROP TABLE IF EXISTS `director`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `director` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `vorname` varchar(255) NOT NULL,
  `nachname` varchar(255) NOT NULL,
  `geburtsdatum` date DEFAULT NULL,
  `geburtsort` varchar(255) DEFAULT NULL,
  `biografie` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `director`
--

LOCK TABLES `director` WRITE;
/*!40000 ALTER TABLE `director` DISABLE KEYS */;
/*!40000 ALTER TABLE `director` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `film_director`
--

DROP TABLE IF EXISTS `film_director`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `film_director` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `film_id` int(11) NOT NULL,
  `director_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `film_id` (`film_id`),
  KEY `director_id` (`director_id`),
  CONSTRAINT `film_director_ibfk_1` FOREIGN KEY (`film_id`) REFERENCES `filme` (`id`),
  CONSTRAINT `film_director_ibfk_2` FOREIGN KEY (`director_id`) REFERENCES `director` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `film_director`
--

LOCK TABLES `film_director` WRITE;
/*!40000 ALTER TABLE `film_director` DISABLE KEYS */;
/*!40000 ALTER TABLE `film_director` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filme`
--

DROP TABLE IF EXISTS `filme`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filme` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titel` varchar(255) NOT NULL,
  `imdbid` varchar(255) NOT NULL,
  `plot` text NOT NULL,
  `erscheinungs_jahr` year(4) DEFAULT NULL,
  `erscheinungs_datum` date DEFAULT NULL,
  `laufzeit` int(20) DEFAULT NULL,
  `jugendfreigabe` varchar(255) DEFAULT NULL,
  `metascore` int(20) DEFAULT NULL,
  `imdbbewertung` decimal(6,2) DEFAULT NULL,
  `imdbvotes` int(20) DEFAULT NULL,
  `boxoffice` int(20) DEFAULT NULL,
  `poster` varchar(400) DEFAULT NULL,
  `vollstaendig` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `imdbid` (`imdbid`),
  KEY `idx_titel_vollstaendig` (`titel`,`vollstaendig`)
) ENGINE=InnoDB AUTO_INCREMENT=1638 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filme`
--

LOCK TABLES `filme` WRITE;
/*!40000 ALTER TABLE `filme` DISABLE KEYS */;
/*!40000 ALTER TABLE `filme` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filme_auszeichnungen`
--

DROP TABLE IF EXISTS `filme_auszeichnungen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filme_auszeichnungen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `film_id` int(11) NOT NULL,
  `preis_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `film_id` (`film_id`),
  KEY `preis_id` (`preis_id`),
  CONSTRAINT `filme_auszeichnungen_ibfk_1` FOREIGN KEY (`film_id`) REFERENCES `filme` (`id`),
  CONSTRAINT `filme_auszeichnungen_ibfk_2` FOREIGN KEY (`preis_id`) REFERENCES `auszeichnungen` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filme_auszeichnungen`
--

LOCK TABLES `filme_auszeichnungen` WRITE;
/*!40000 ALTER TABLE `filme_auszeichnungen` DISABLE KEYS */;
/*!40000 ALTER TABLE `filme_auszeichnungen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filme_autoren`
--

DROP TABLE IF EXISTS `filme_autoren`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filme_autoren` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `film_id` int(11) NOT NULL,
  `autoren_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `film_id` (`film_id`),
  KEY `autoren_id` (`autoren_id`),
  CONSTRAINT `filme_autoren_ibfk_1` FOREIGN KEY (`film_id`) REFERENCES `filme` (`id`),
  CONSTRAINT `filme_autoren_ibfk_2` FOREIGN KEY (`autoren_id`) REFERENCES `autoren` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filme_autoren`
--

LOCK TABLES `filme_autoren` WRITE;
/*!40000 ALTER TABLE `filme_autoren` DISABLE KEYS */;
/*!40000 ALTER TABLE `filme_autoren` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filme_bewertungen`
--

DROP TABLE IF EXISTS `filme_bewertungen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filme_bewertungen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `film_id` int(11) NOT NULL,
  `bewertung_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `film_id` (`film_id`),
  KEY `bewertung_id` (`bewertung_id`),
  CONSTRAINT `filme_bewertungen_ibfk_1` FOREIGN KEY (`film_id`) REFERENCES `filme` (`id`),
  CONSTRAINT `filme_bewertungen_ibfk_2` FOREIGN KEY (`bewertung_id`) REFERENCES `bewertungen` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filme_bewertungen`
--

LOCK TABLES `filme_bewertungen` WRITE;
/*!40000 ALTER TABLE `filme_bewertungen` DISABLE KEYS */;
/*!40000 ALTER TABLE `filme_bewertungen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filme_genres`
--

DROP TABLE IF EXISTS `filme_genres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filme_genres` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `film_id` int(11) NOT NULL,
  `genre_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `film_id` (`film_id`),
  KEY `genre_id` (`genre_id`),
  CONSTRAINT `filme_genres_ibfk_1` FOREIGN KEY (`film_id`) REFERENCES `filme` (`id`),
  CONSTRAINT `filme_genres_ibfk_2` FOREIGN KEY (`genre_id`) REFERENCES `genres` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filme_genres`
--

LOCK TABLES `filme_genres` WRITE;
/*!40000 ALTER TABLE `filme_genres` DISABLE KEYS */;
/*!40000 ALTER TABLE `filme_genres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filme_land`
--

DROP TABLE IF EXISTS `filme_land`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filme_land` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `film_id` int(11) NOT NULL,
  `land_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `film_id` (`film_id`),
  KEY `land_id` (`land_id`),
  CONSTRAINT `filme_land_ibfk_1` FOREIGN KEY (`film_id`) REFERENCES `filme` (`id`),
  CONSTRAINT `filme_land_ibfk_2` FOREIGN KEY (`land_id`) REFERENCES `land` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filme_land`
--

LOCK TABLES `filme_land` WRITE;
/*!40000 ALTER TABLE `filme_land` DISABLE KEYS */;
/*!40000 ALTER TABLE `filme_land` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filme_schauspieler`
--

DROP TABLE IF EXISTS `filme_schauspieler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filme_schauspieler` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `film_id` int(11) NOT NULL,
  `schauspieler_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `film_id` (`film_id`),
  KEY `schauspieler_id` (`schauspieler_id`),
  CONSTRAINT `filme_schauspieler_ibfk_1` FOREIGN KEY (`film_id`) REFERENCES `filme` (`id`),
  CONSTRAINT `filme_schauspieler_ibfk_2` FOREIGN KEY (`schauspieler_id`) REFERENCES `schauspieler` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filme_schauspieler`
--

LOCK TABLES `filme_schauspieler` WRITE;
/*!40000 ALTER TABLE `filme_schauspieler` DISABLE KEYS */;
/*!40000 ALTER TABLE `filme_schauspieler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filme_sprachen`
--

DROP TABLE IF EXISTS `filme_sprachen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filme_sprachen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `film_id` int(11) NOT NULL,
  `sprache_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `film_id` (`film_id`),
  KEY `sprache_id` (`sprache_id`),
  CONSTRAINT `filme_sprachen_ibfk_1` FOREIGN KEY (`film_id`) REFERENCES `filme` (`id`),
  CONSTRAINT `filme_sprachen_ibfk_2` FOREIGN KEY (`sprache_id`) REFERENCES `sprachen` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filme_sprachen`
--

LOCK TABLES `filme_sprachen` WRITE;
/*!40000 ALTER TABLE `filme_sprachen` DISABLE KEYS */;
/*!40000 ALTER TABLE `filme_sprachen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `genres`
--

DROP TABLE IF EXISTS `genres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `genres` (
  `id` int(11) NOT NULL,
  `genre` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `genres`
--

LOCK TABLES `genres` WRITE;
/*!40000 ALTER TABLE `genres` DISABLE KEYS */;
INSERT INTO `genres` VALUES (0,'Urban Fantasy'),(1,'Action'),(2,'Crime'),(3,'Thriller'),(4,'Occult'),(5,'Fairy Tale'),(6,'Horror'),(7,'Spy and Espionage'),(8,'Superhero'),(9,'CGI'),(10,'Sci-Fi'),(11,'Drama'),(12,'Fantasy'),(13,'Romance'),(14,'Utopia'),(15,'Martial Arts'),(16,'Sport'),(17,'Western'),(18,'Satire'),(19,'Adventure'),(20,'Disaster'),(21,'War'),(22,'Dystopia'),(23,'Comedy'),(24,'Musical'),(25,'History'),(26,'Biography'),(27,'Mystery'),(28,'Documentary'),(29,'Film-Noir'),(30,'Music'),(31,'Game-Show'),(32,'Animation'),(33,'Family'),(34,'Short');
/*!40000 ALTER TABLE `genres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `land`
--

DROP TABLE IF EXISTS `land`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `land` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `land` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `land`
--

LOCK TABLES `land` WRITE;
/*!40000 ALTER TABLE `land` DISABLE KEYS */;
/*!40000 ALTER TABLE `land` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schauspieler`
--

DROP TABLE IF EXISTS `schauspieler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schauspieler` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `vorname` varchar(255) NOT NULL,
  `nachname` varchar(255) NOT NULL,
  `geburtsdatum` date DEFAULT NULL,
  `geburtsort` varchar(255) DEFAULT NULL,
  `biografie` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schauspieler`
--

LOCK TABLES `schauspieler` WRITE;
/*!40000 ALTER TABLE `schauspieler` DISABLE KEYS */;
/*!40000 ALTER TABLE `schauspieler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sprachen`
--

DROP TABLE IF EXISTS `sprachen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sprachen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sprache` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sprachen`
--

LOCK TABLES `sprachen` WRITE;
/*!40000 ALTER TABLE `sprachen` DISABLE KEYS */;
/*!40000 ALTER TABLE `sprachen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `anrede` varchar(255) NOT NULL,
  `vorname` varchar(255) NOT NULL,
  `nachname` varchar(255) NOT NULL,
  `benutzername` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `passwort` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `benutzername` (`benutzername`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-02-18  9:02:24
